.mobile {
    display: block;
}

@media screen and (max-width: 800px) {
    .desktop {
        display:none;
    }
    .mobile {
        display: block;
    }
}

@media screen and (min-width: 800px) {
    .desktop {
        display:block;
    }
    .mobile {
        display: none;
    }
}